.App {
    display: flex;
    height: 100vh;
    text-align: center;
    background: #4E4E4E;
    flex-direction: column;
    justify-content: space-between;
}


.button {
    width: 150px;
    height: 50px;
}